@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Source+Serif+Pro:wght@300&display=swap');

.card-name {
    text-align: center;
    color: #56042c;
    font-family: 'Lobster Two', cursive;
    font-size: 2rem;

}

.img-card {
    background-color: rgb(255, 255, 255);
}


.grid-card {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}