.item-cart {
    color: #56042c;
    text-align: center;
}


.card-product {
    margin: 8rem;
    gap: 0.4rem;
    width: 30rem;
    display: flex;
}

.img-cart {
    width: 14rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.gird-item-cart {
    gap: 2rem;
    margin: 8rem;
    display: flex;

}


.btn-comprar {
    margin-left: 10rem;

}

.form-content {
    width: 30rem;
    margin: auto;
}