/*HEADER*/

.logo {

    width: 5rem;
    height: 5em;
    border-radius: 2rem;
    margin-left: 13rem;
    margin-top: 1rem;

}

.list {
    margin-left: 45rem;
    padding: 1.7rem;
    gap: 10rem;
    justify-content: center;
    list-style: none;
    display: flex;
    font-size: 1.7rem;
    background-color: transparent;
    max-width: 15rem;
    border-radius: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: aliceblue;
}

.list-item {
    text-decoration: none;
    color: #3c0a0a;
    display: flex;

}

.input-nav {
    border-radius: 10px;
    border: none;
    height: 2.5rem;
    width: 25rem;
    font-size: 1rem;
    margin-left: 60em;
    margin-top: 1.8rem;

}

.list-item:hover {
    background-color: #3c0a0a;
    border-radius: 0.4rem;
    padding: 0.5rem;
    color: aliceblue;
    transition: 0.4s;

}



/*BODY*/

.body-container {

    margin: auto;
    box-shadow: 25px 25px 50px -12px rgba(201, 197, 197, 0.118);
    max-width: 100rem;
    padding: 4rem;
    border-radius: 2rem;
    margin-top: 2rem;
    background-color: transparent;
}

body {
    background-color: #f3f3f3;

}

.item {
    width: 23rem;
    height: 20rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 3.6rem;
}

.item-grid {

    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10rem;
    margin: auto;
    width: 90em;


}

.card-item {
    background-color: rgb(26, 25, 25);
    border-radius: 1rem;
    width: 30rem;
    height: 32rem;
    margin-bottom: 3rem;


}

.item-content {

    margin: auto;
    width: 10rem;
    color: aliceblue;
}

.item-cart {
    margin: 2rem;
    font-size: 2rem;
    color: black;
    margin-left: 3rem;
    margin-top: 4rem;
}



.box-count {
    color: aliceblue;
    display: flex;
    margin-top: 1rem;
    gap: 0.7rem;
    height: 2.5rem;
    margin-left: 1rem;
}

.number-box {
    margin-top: 0.5rem;
    ;
}


.image {
    width: 19.6rem;
}

.img-card {
    width: 20rem;
    border-width: 3px;
    border-color: #3c0a0a;
    border-style: double;
    box-shadow: 50px 50px 50px -12px rgb(0 0 0 / 0.25);
}